/*
 * Snipcart
 */
 .snipcart-checkout {
	 margin-right: $spacing_base / 2;
 }
.snip-layout {
	padding-top: spacing_base / 2;
}
.snip-layout__main-container {
	padding-top: spacing_base / 2;
}
.snip-layout .snip-header {
	background-color: $brand_color2;
	margin-top: $spacing_base / 2;
}
