-
  var products = [
    {
      title: "Nombre producto 001",
      data_item_description: "El super producto num 1",
      disponible: false,
      data_item_id: "1",
      data_item_name: "Producto 1",
      data_item_price: "3.00",
      data_item_weight: "20",
      data_item_url: "http://t0t.github.io/nituniyo.com",
      image_url: "product_001.jpg"
    }, {
      title: "Nombre producto 002",
      data_item_description: "El super producto num 2",
      data_item_id: "2",
      data_item_name: "Producto 2",
      data_item_price: "1.00",
      data_item_weight: "30",
      data_item_url: "http://t0t.github.io/nituniyo.com",
      image_url: "product_002.jpg"
    }, {
      title: "Nombre producto 003",
      data_item_description: "Descripcion del prod num 3",
      data_item_id: "3",
      data_item_name: "Producto 3",
      data_item_price: "1.80",
      data_item_weight: "20",
      data_item_url: "http://t0t.github.io/nituniyo.com",
      image_url: "product_003.jpg"
    }, {
      title: "Nombre producto 004",
      description: "You can easily iterate on your design without having an engineer to help you.",
      data_item_id: "4",
      data_item_name: "Producto 4",
      data_item_price: "2.10",
      data_item_weight: "2",
      data_item_url: "http://t0t.github.io/nituniyo.com",
      image_url: "product_004.jpg"
    }, {
      title: "Nombre producto 005",
      description: "Animation is no longer an afterthought.",
      image_url: "product_005.jpg"
    }, {
      title: "Nombre producto 006",
      description: "We can create both the parts and the whole of a UI design system concurrently",
      image_url: "product_006.jpg"
    }, {
      title: "Nombre producto 007",
      description: "Ideal para proyectos de investigación en los que no podemos anticipar cual va a ser el resultado.",
      image_url: "product_007.jpg"
    }, {
      title: "Nombre producto 008",
      description: "By working directly in the browser, we bypass a number of steps and expedite our design process.",
      image_url: "product_008.jpg"
    }, {
      title: "Nombre producto 009",
      description: "Animation is no longer an afterthought.",
      image_url: "product_009.jpg"
    }, {
      title: "Nombre producto 010",
      description: "It replaces the need for detailed specification documents or lengthy conversations about intentions.",
      image_url: "product_010.jpg"
    }
  ];
