-
  var products = [
    {
      title: "Retrato nituniyo 001",
      description: "I have merged the concept of a style guide and a prototype into a single",
      data_item_id: "1",
      data_item_name: "Producto 1",
      data_item_price: "3.00",
      data_item_weight: "20",
      data_item_url: "http://t0t.github.io/nituniyo.com/producto1",
      data_item_description: "El super producto num 1",
      image_url: "product_001.jpg"
    }, {
      title: "Retrato nituniyo 002",
      description: "Less questions and meetings with stakeholders, clients, engineers = Time saved = Money saved.",
      data_item_id: "2",
      data_item_name: "Producto 2",
      data_item_price: "7.00",
      data_item_weight: "30",
      data_item_url: "http://t0t.github.io/nituniyo.com/producto2",
      data_item_description: "El super producto num 2",
      image_url: "product_002.jpg"
    }, {
      title: "Retrato nituniyo 003",
      description: "Less questions and meetings with stakeholders, clients, engineers = Time saved = Money saved.",
      data_item_id: "3",
      data_item_name: "Producto 3",
      data_item_price: "7.00",
      data_item_weight: "30",
      data_item_url: "http://t0t.github.io/nituniyo.com/producto3",
      description: "Animation is no longer an afterthought.",
      image_url: "product_003.jpg"
    }, {
      title: "Retrato nituniyo 004",
      description: "You can easily iterate on your design without having an engineer to help you.",
      image_url: "product_004.jpg"
    }, {
      title: "Retrato nituniyo 005",
      description: "Animation is no longer an afterthought.",
      image_url: "product_005.jpg"
    }, {
      title: "Retrato nituniyo 006",
      description: "We can create both the parts and the whole of a UI design system concurrently",
      image_url: "product_006.jpg"
    }, {
      title: "Retrato nituniyo 007",
      description: "Ideal para proyectos de investigación en los que no podemos anticipar cual va a ser el resultado.",
      image_url: "product_007.jpg"
    }, {
      title: "Retrato nituniyo 008",
      description: "By working directly in the browser, we bypass a number of steps and expedite our design process.",
      image_url: "product_008.jpg"
    }, {
      title: "Retrato nituniyo 009",
      description: "Animation is no longer an afterthought.",
      image_url: "product_009.jpg"
    }, {
      title: "Retrato nituniyo 010",
      description: "It replaces the need for detailed specification documents or lengthy conversations about intentions.",
      image_url: "product_010.jpg"
    }
  ];
