include ../../_db/_products.pug

section.ProductSection
	mixin product-card(product)
		article.ProductItem(itemscope itemtype="http://schema.org/CreativeWork" data-aos="slide-right" data-aos-offset="400")
			img(src="assets/images/" + product.image_url)
			h3.productTitle= product.title
			a.snipcart-checkout(href="#") Click here to checkout
			button.btn.snipcart-add-item(data-item-id="2" data-item-name="Bacon" data-item-price="3.00" data-item-weight="20" data-item-url="http://myapp.com/products/bacon" data-item-description="Some fresh bacon") Buy

	for product in products
		+product-card(product)
