/*
 * Site Brand
 */
.siteBrand {
	margin-top: $spacing_base / 2;
	margin-left: $spacing_base / 2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	@include max-screen($big) {
		// width: $spacing_base * 2;
	}
	@include max-screen($small) {
		// width: $spacing_base * 1.5;
		// order: 1;
	}

	&__logo {
		height: 60px;
		// display: flex;
		// align-items: center;
		@include max-screen($big) {
			// width: 90px;
			// padding-left: $spacing_base / 2;
		}
	}

	&__title {
		line-height: 1;
		margin-bottom: 0;
	}
}
